body {background-color: Black; font-family: helvetica, sans-serif;}
h1 , h2 { color: White; text-align:center;}
h1 {font-weight: 700; font-size: 50px;}
a {color: Aquamarine; text-decoration: underline;}
div {text-align: center;}
p {color: Grey; text-align: center;font-size: 30px;}
